.bad-img{
  height: 90px;

}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 6rem;
  color: white;

}

@media (max-width: 425px){
  
  .bad-img{
    height: 40px;
  }
}



